commands.txt
.env.local

/client/.next/
/client/node_modules/

# /client/.next/*
# /client/node_modules/*
# /client/.next/
# /client/node_modules/
# client/.next/
# client/node_modules/

# \client\.next\*
# \client\node_modules\*
# client\.next\*
# client\node_modules\*
# client\.next\
# client\node_modules\