# ---------- CLIENT ----------
npm init -y

npm install next@latest react@latest react-dom@latest
# https://nextjs.org/docs/getting-started/installation

npm i bootstrap@4.6.0

npm i express

npm i antd   # https://ant.design/docs/react/use-with-create-react-app-cn
# similar to material UI, but more easy to use

npm i @ant-design/icons
# https://ant.design/docs/spec/icon

npm i react-toastify

# Using proxy in development mode
# http-proxy-middleware
npm i http-proxy-middleware


# ---------- SERVER ----------
npm init -y

npm i express

npm i jsonwebtoken


# deprecated
npm i csurf

npm i cookie-parser

npm i express-jwt

npm i aws-sdk

npm i nanoid@2.1.11

npm i query-string@7.0.0



# ---------- GLOBAL ----------
#  
npm i axios

